*{
    margin: 0px;
    padding: 0px;
}

header{
    display: grid;
    height: 65px;;
    width: 1346px;
    grid-template-columns:repeat(4,1fr);
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    font-size: 67px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.email{
    height: 20px;
    width: 190px;
    position: relative;
    left: 88%;
    top: 25px;
}

.password{
    height: 20px;
    width: 190px;
    position: relative;
    left: 58%;
    top: 25px;
}

button{
    position: relative;
    width: 60px;
    height: 25px;
    left: 80px;
    top: 20px;
}

section.content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 25px; 
    padding: 20px;
   
}

aside{
    background-color: #f0f2f5;
    padding: 10px;
    width: 650px;
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
}

aside img{
    width: 650px;
    height: 497px;
}

main{
    background-color: #f0f2f5;
    padding: 10px;
    width: 650px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto{
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif;
}

.datos{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  }
  .datos2{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
  }

  .button1{
    width: 70px;
    height: 20px;
    background-color: rgb(52, 218, 52);
    border-color: rgb(52, 218, 52);
    color: white;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button2{
    width: 70px;
    height: 25px;
    background-color: rgb(159,159,214);
    border-color: rgb(159, 159, 214);
    color: white;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
}